.App {
  text-align: center;
}

.card {
  border: solid .5px black;
  width: 500px;
  margin: 20% auto;
  box-shadow: 2px 2px 10px black;
  border-radius: 15px;
  padding: 10px 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.fa-solid {
  align-self: flex-start;
  font-size: 50px;
}

.quote {
  margin: -45px 40px 0 40px;
  position: relative;
  z-index: 1;
}

.author {
  align-self: flex-end;
}

button {
  align-self: flex-end;
  border-radius: 50%;
  border: none;
  box-shadow: 1px 1px 5px black;
  cursor: pointer;
}

button .fa-solid {
  font-size: 20px;
  padding: 5px;
  color: #ffffff;
}

